<form action="/category/create" method="POST">
    <p>Name Category:</p>
    <input type="text" name="name" id="name">

    <button type="submit">Tạo</button>
    <button> <a href="/dashboard/categories">Quay lại</a></button>
</form>