<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Dashboard | By Code Info</title>
        <link rel="stylesheet" href="/css/dashboard.css">
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>

    <body>
        <div class="container">
            <nav style="background-color: #007aff;">
                <ul>
                    <li><a href="#" class="logo">
                            <img src="/img/360_F_323469705_belmsoxt9kj49rxSmOBXpO0gHtfVJvjl.jpg" alt="">
                            <span class="nav-item">DashBoard</span>
                        </a></li>
                    <li><a href="#">
                            <i class="fas fa-home"></i>
                            <span class="nav-item">Home</span>
                        </a></li>
                    <li><a href="./quanlysanpham.html">
                            <i class="fas fa-user"></i>
                            <span class="nav-item">Quản lý sản phẩm</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-wallet"></i>
                            <span class="nav-item">Quản lý người dùng</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-chart-bar"></i>
                            <span class="nav-item">Quản lý đơn hàng</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-tasks"></i>
                            <span class="nav-item">Quản lý danh mục</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-cog"></i>
                            <span class="nav-item">Phân tích</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-question-circle"></i>
                            <span class="nav-item">Flash sale</span>
                        </a></li>
                    <li><a href="">
                            <i class="fas fa-question-circle"></i>
                            <span class="nav-item">Vận chuyển</span>
                        </a></li>
                    <li><a href="" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Log out</span>
                        </a></li>
                </ul>
            </nav>


            <div class="list-item-dashboard">
                {{!-- Home --}}
                <section class="main ">
                    <div class="main-top">
                        <h1>Skills</h1>
                        <i class="fas fa-user-cog"></i>
                    </div>
                    <div class="main-skills">
                        <div class="card">
                            <i class="fas fa-laptop-code"></i>
                            <h3>Web developemt</h3>
                            <p>Join Over 1 million Students.</p>
                            <button>Get Started</button>
                        </div>
                        <div class="card">
                            <i class="fab fa-wordpress"></i>
                            <h3>WordPress</h3>
                            <p>Join Over 3 million Students.</p>
                            <button>Get Started</button>
                        </div>
                        <div class="card">
                            <i class="fas fa-palette"></i>
                            <h3>graphic design</h3>
                            <p>Join Over 2 million Students.</p>
                            <button>Get Started</button>
                        </div>
                        <div class="card">
                            <i class="fab fa-app-store-ios"></i>
                            <h3>IOS dev</h3>
                            <p>Join Over 1 million Students.</p>
                            <button>Get Started</button>
                        </div>
                    </div>

                    <section class="main-course">
                        <h1>My courses</h1>
                        <div class="course-box">
                            <ul>
                                <li class="active">In progress</li>
                                <li>explore</li>
                                <li>incoming</li>
                                <li>finished</li>
                            </ul>
                            <div class="course">
                                <div class="box">
                                    <h3>HTML</h3>
                                    <p>80% - progress</p>
                                    <button>continue</button>
                                    <i class="fab fa-html5 html"></i>
                                </div>
                                <div class="box">
                                    <h3>CSS</h3>
                                    <p>50% - progress</p>
                                    <button>continue</button>
                                    <i class="fab fa-css3-alt css"></i>
                                </div>
                                <div class="box">
                                    <h3>JavaScript</h3>
                                    <p>30% - progress</p>
                                    <button>continue</button>
                                    <i class="fab fa-js-square js"></i>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                {{!-- Quản lý sản phẩm --}}
                <section class="main active-item">
                    <div>
                        <h1>Quản lý sản phẩm</h1>
                    </div>
                    <style>
                        table,
                        th,
                        td {
                            border: 1px solid black;
                        }
                    </style>

                    <body>

                        <h2>A basic HTML table</h2>

                        <table style="width:100%" cellspacing="0">
                            <tr>
                                <th>Company</th>
                                <th>Contact</th>
                                <th>Country</th>
                            </tr>
                            <tr>
                                <td>Alfreds Futterkiste</td>
                                <td>Maria Anders</td>
                                <td>Germany</td>
                            </tr>
                            <tr>
                                <td>Centro comercial Moctezuma</td>
                                <td>Francisco Chang</td>
                                <td>Mexico</td>
                            </tr>
                        </table>
                        </script>
                </section>
                {{!-- Quản lý người dùng --}}
                <section class="main">
                    <div>Quản lý người dùng</div>

                </section>

                {{!-- Quản lý đơn hàng --}}
                <section class="main">
                    <div>Quản lý người dùng</div>

                </section>

                {{!-- Quản lý danh mục --}}
                <section class="main">
                    <div>Quản lý người dùng</div>

                </section>
            </div>

        </div>
    </body>

    </html>
</span>